<p id="notice"><%= notice %></p>

<br><font face="ＭＳ Ｐ明朝" size="6" color="#0000cd">タスク一覧</font><br>

<br>
<%= form_tag({:action => "search"}) do %> 
  <%= collection_select 'search', 'user', User.all, :username, :username, {selected: @search_user,include_blank: "全員"} %>  
  <%= collection_select 'search', 'category', Category.all, :categoryname, :categoryname, {selected: @search_category,include_blank: "全カテゴリー"} %> 
 
  <%= text_field_tag "search[name]",@search_value %>  
  <%= submit_tag "検索" %>  
  <%= link_to "リセット", tasks_path%>  
<% end %>  
  


<table>
  <thead>
    <tr>
      <th>チェック</th>
      <th>日付</th>
      <th>予定内容</th>
      <th>カテゴリー</th>
      <th>ユーザーID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.done %></td>
        <td>
            <% if task.due_date < Date.today && task.done == true %>
              <font color= "red"><%= task.due_date %></font>
            <% else %>
              <%= task.due_date %>
            <% end %>
        </td>
        <td><%= task.name %></td>
        <td><%= task.category_id %></td>
        <td><%= task.user_id %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '更新', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'タスク登録', new_task_path %>
